{% extends "core/base.html" %}
{% block title %}سامانه تردد هوشمند{% endblock %}
{% block content %}
<div class="card page page-sm" style="margin-top:3.7rem;text-align:right;">
  <h2 class="page-title">
    <i class="fas fa-id-card"></i> سامانه تردد هوشمند
  </h2>
  <div style="display:flex;flex-direction:column;gap:1.1rem;">
    <a class="btn" href="{% url 'management_login' %}">
      <i class="fa fa-user-shield"></i> پنل مدیریت
    </a>
      <a class="btn" href="{% url 'device_login' %}">
      <i class="fa fa-door-open"></i> ورود دستگاه تردد
    </a>
    <a class="btn" href="{% url 'user_inquiry' %}">
      <i class="fa fa-users"></i> کارکنان
    </a>
  </div>
</div>
{% endblock %}
